<h2>帳號資料修改</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

    <div class="field">
    <%= f.label :first_name,"姓" %><br />
    <%= f.text_field :first_name %>
  </div>


  <div class="field">
    <%= f.label :last_name,"名" %><br />
    <%= f.text_field :last_name %>
  </div>
  
  <div class="field">
    <%= f.label :password,"密碼" %> <i>(不需修改請留空白)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation,"密碼確認" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password,"目前密碼" %> <i>(請輸入密碼完成修改)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>


  <div class="actions">
    <%= f.submit "更新資料",:class=>"btn btn-primary"%>
  </div>
<% end %>
<%= link_to "返回",center_user_path(current_user) ,:class=>"btn btn-default"%>
<h3>註銷帳號</h3>

<p><%= button_to "帳號刪除", registration_path(resource_name), data: { confirm: "確定要刪除此帳號嗎?" }, method: :delete, :class=>"btn btn-danger"%>注意！刪除的資料將無法找回</p>


