
<h4>文章標題</h4>
<h3><%= @topic.name %></h3>

<span id="like-block">
  <%= render "like"%>
</span> 
<p>
 Liked by
 <% @topic.liked_users.each do |u| %>
   <%= link_to u.short_name, user_path(u) %>,
 <% end %>
</p>

<p>討論者
 <% @topic.comments.map{ |c| c.user }.uniq.each do |u|%>
     <%= u.try(:short_name)%>
 <% end %>
</p>

<h5>標籤</h5>
<h4>
 <% @topic.categories.each do |n|%>
  <%= n.name%>
 <%end%>
</h4>
<div>
  <% if @topic.avatar.exists?%>
    <%= image_tag(@topic.avatar.url(:medium))%>
  <%end%>
</div>
<h4>文章內容</h4>
<h5><%= @topic.content%></h5>
<h4>回覆數(<%=@topic.comments.size%>)</h4>

 <table>
    <% @comments.each do |c|%>
    <tr>
      <td>
        <% if c.id == params[:comment_id].to_i %>
        <%= form_for @comment, :url => topic_comment_path(@topic,@comment) do |f|%>
          <div class="form-group">  
            <%= f.text_field :content,:class=>"form-control" %>
            <%= f.submit "儲存",:class => "btn btn-primary" %>
          </div>
        <%end%>
      
       <% else %>
          <span>來自</span>
           <%= c.user.try(:short_name)%>
          <span>的回覆</span>
           <%= c.content%> 
    </tr> 
    <tr>   
      <td>
         <% if c.user == current_user %>
           <%= link_to "修改",topic_path(@topic,:comment_id=>c),:class => "btn btn-default"%>
           <%= link_to "刪除",topic_comment_path(@topic,c),:method=>:delete,:class => "btn btn-danger"%> 
         <%end%>
      </td>    
    </tr> 
    <tr>
     <td>
       <div>-------------------------------------------</div>
     </td> 
    </tr>
    <%end%>
  <%end%>
 </table>

  <% unless params[:comment_id] %>
    <%= form_for @comment, :url => topic_comments_path(@topic) do |f|%>
      <div class="form-group">  
       <%= f.text_field :content,:class=>"form-control" %>   
      </div> 
       <%= f.submit "回覆",:class => "btn btn-primary" %>
       <%= link_to "回到目錄",topics_path(:page => params[:page]),:class=>"btn btn-default"%> 
    <%end%>
  <%else%>
    <%= link_to "回到目錄",topics_path(:page => params[:page]),:class=>"btn btn-default"%>
  <%end%>  

