

<h1>致青春的一封信-校園聊天 (管理者模式)</h1>

<%= form_tag topics_path, :method => :get do %>
  <%= text_field_tag "keyword" %>
  <%= submit_tag "搜尋文章",:class=>"btn btn-default" %>
<% end %>
<span>全站分類:</span>
<% Category.all.each do |c|%>
  <%= link_to "#{c.name}",topics_path(:category=>"#{c.name}")%>/
<%end%>
<%= link_to "不分類",topics_path%>
<%= link_to "管理分類",admin_categories_path,:class=>'btn btn-primary'%>
<table class="table table-hover">
  <thead> 
    <tr>
   	 <th>
   		 文章標題
   	 </th>
     <th>
       瀏覽數
     </th>
   	 <th>
   		 回覆數
     </th>
     <th>
       最新回覆時間 
     </th>
     <th>
    	 建立者
     </th>
     <th>
     </th>
   </tr>
  </thead>
<% @topics.each do |e|%>
	 <tr>
		  <td class="topic-title">
		  	<%= link_to e.name, topic_path(e,:page => params[:page])%>
		  </td>
      <td>
        <%= e.viewer%>
      </td> 
		  <td>
		    <%= e.comments.size%>
		  </td>
      <td>
        <%= e.latest_comment_time%>
      </td>
		  <td>
		  	<%= link_to e.user.try(:short_name), about_user_topic_path(e,:page => params[:page])%>
		  </td>
		  <td>
		    <%= link_to "展示文章", topic_path(e,:page => params[:page]),:class =>"btn btn-default"%>
        
		      <%= link_to "修改文章", edit_topic_path(e,:page => params[:page]),:class=>"btn btn-default" %>
		      <%= link_to "刪除文章", topic_path(e,:page => params[:page]), :method => :delete, :data =>{:confirm =>"你確定要刪除此篇文章嗎？"},:class=>"btn btn-danger" %>
		  </td>
	 </tr>
	
<%end%>
  <tr>
      <td>
        <span>排序</span>
      	<%= link_to '最後回覆時間', topics_path(:keyword=>params[:keyword],:category=>params[:category], :order => "latest") %>
      	<%= link_to '回覆人數', topics_path(:keyword=>params[:keyword],:category=>params[:category], :order => "hot") %>
        <%= link_to '瀏覽人數', topics_path(:keyword=>params[:keyword],:category=>params[:category], :order => "viewer") %>
        <%= link_to '預設', topics_path(:category=>params[:category]) %>
      </td>
	    <td>
	    <%= paginate @topics %>
	    </td>
	</tr>
</table>
  <%= link_to "發新文章", new_topic_path,:class =>"btn btn-primary"%>
  <%= link_to "關於本站", about_topics_path,:class =>"btn btn-default"%>
  <% if current_user%>
    <% if current_user.admin?%>
      <%= link_to "管理者頁面", admin_topics_path,:class =>"btn btn-danger"%>
    <%end%>
  <%end%>  
