
<h3><%= @user.try(:short_name)%> 的個人檔案</h3>

<h4>已發布文章</h4>
<% @user.topics.each do |t|%>
  <div>	
    <%= link_to t.name,topic_path(t.id) %>
  </div>
<%end%>  
<%= form_for @user, :url => user_path(@user) do |f|%>  

  <div class="field">
    <%= f.label :about,"關於我" %><br />
    <%= f.text_area :about,:size =>"50x10" %>
  </div>

    <%= f.submit "送出",:class => "btn btn-primary" %>
  <%end%>