
<table class="table">
<thead>
	<tr>
		<h3>全站分類控制</h3>
	</tr>
</thead>
<% @categories.each do |e|%>
  <tr>
	  <td>
      <%if params[:categories]&& e.id==@category.id%>
        <%= form_for @category,:url=>admin_category_path(e) do |f|%>
		    <%= f.label :name,'新增類別名稱'%>
		    <%= f.text_field :name,:class=>"form-control"%> 	  
	      <%= f.submit "送出",:class => "btn btn-primary" %>
	        <%end%>
      <%else%>
	      <%=e.name%>
	    <%end%>
	  </td>
	  <td>
	  <%= link_to "修改",admin_categories_path(:categories=>e),:class=>"btn btn-default"%>
	  <%= link_to "刪除類別",admin_category_path(e),:method=>:delete,:data =>{:confirm =>"你確定要刪除此類別嗎？"},:class=>"btn btn-danger"%>
	  </td>
  </tr>
<%end%>
  <tr>
    <td class="form-group">
      <%unless params[:categories]%>
		    <%= form_for @category,:url=>admin_categories_path do |f|%>
		    <%= f.label :name,'新增類別名稱'%>
		    <%= f.text_field :name,:class=>"form-control"%> 	  
	      <%= f.submit "送出",:class => "btn btn-primary" %>
	    <%end%> 
	    <%= link_to "回到上一頁",admin_topics_path,:class => "btn btn-default" %> 
    </td>  
      <%end%>
  </tr>
</table>

