<!DOCTYPE html>
<html>
<head>
  <title>某某論壇</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.5&appId=1242116209148369";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <%if flash[:notice].present? %>
   <p class="alert alert-success" role="alert">
   <%= flash[:notice] %>
   </p>
 <%end%>
 <% if flash[:alert].present? %>
   <p class="alert alert-danger" role="alert">
    <%= flash[:alert] %>
   </p>
 <%end%>
 <div class="container">  
   <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
   <div>
     <img src="http://goo.gl/rZJXmp" alt="" style="max-width:100%" >
   </div> 
   <% if current_user %>  
          Hi, <%= current_user.email %>
      <%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
      <%= link_to('會員中心',center_user_path(current_user)) %>
   <% else %>
      <%= link_to('註冊', new_registration_path(:user)) %> |
      <%= link_to('登入', new_session_path(:user)) %>
      <%= link_to "Facebook 登入", user_omniauth_authorize_path(:facebook) %>
   <% end %>
   
  <%= yield %>
 </div> 
</body>
</html>
